
  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(51,36,35); 
    padding: 20px;
  }
  
  .left-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .right-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .circle-container {
    display: flex;
    flex-direction: column (3,1fr);
    grid-gap: 20px; 
  }
  
  .circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: rgb(51,36,35); 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
  }
  
  .circle img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
  }
  